body {
margin: 0;
font-family: 'Roboto', sans-serif;
}
* {
box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
	margin: 0;
}

/*container*/
.container {
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
}

/*header*/
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
  background-color: #000000;
  padding-top: 26px;
}

.header__inner {
display: flex;
justify-content: space-between;
align-items: center;
}

/*logo*/
.header__logo {
  width: 127px;
  height: 28px;
  flex-grow: 0;
  margin: 6px 425px 2px 0;
  font-size: 24px;
  font-weight: 500;
  color: #ffffff;
}
.link {
display: inline-block;
margin: 0 5px;
font-size: 16px;
color: #ffffff;
text-decoration: none;
vertical-align: top;
}
.link:hover {
	color: #f00;
} 
.btn {
	text-decoration: none;
color: #ffffff;	
border: solid 1px #ffffff;
padding: 10px 10px;
border-radius: 4px;
}
.btn:hover {
color: #f00;
}
main {
background-color: #000000;
padding: 40px 60px 60px 70px; 
}
.intro {
height: 750px;
display: flex;
justify-content: space-between;
padding-top: 100px;
}

.intro__title {
	width: 562px;
  height: 192px;
  flex-grow: 0;
  margin: 131px 197px 2px 0;
  padding: 0 0 49px 1px;
	display: block;
}

.intro__title-one {
  height: 42px;
  flex-grow: 0;
  font-size: 36px;
  font-weight: 300;
  text-align: left;
  color: #ffffff;
}
.intro__title-two {
  height: 75px;
  flex-grow: 0;
  font-size: 64px;
  font-weight: bold;
  text-align: left;
  color: #ffffff;
}

.intro__title-three {
	width: 561px;
  height: 28px;
  flex-grow: 0;
  font-size: 24px;
  font-weight: 300;
  text-align: left;
  color: #ffffff;
  margin: 0 0 30px;
}
.intro__title-four{
	margin: 2px 269px 176px 44px;
	color: #ffffff;
  
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.button {
	display: inline-block;
	vertical-align: top;
 font-size: 24px;
  font-weight: 500;
  color: #fff;
  padding: 10px 10px;
  background-color: #6dcc0e;
  border-radius: 4px;
  text-decoration: none;
 }
.button:hover {
	background-color: #fff;
	color: #f00;
}
.image {
	width: 432px;
  height: 478px;
  flex-grow: 0;
  margin: 44px 10px 0 0;
  object-fit: contain;

}
.home__pro-kurs {
  background:#fff ;
  padding:80px 0;
}
.title__kurs{
  display: flex;
}
.stat__pro-kurs {
  flex-grow: 0;
  font-family: Roboto;
  font-size: 80px;
  font-weight: 900;
  line-height: 0.98;
  text-align: left;
  color: #000000;
  width: 33.333%;
  min-width: 33.333%;
  text-transform: uppercase;
}

.home__pro-kurs  .stat__pro-kurs span {
-webkit-text-stroke: 2px #5a5858;
  font-size: 76px;
  font-weight: 900;
  line-height: 1.03;
  color: transparent;
}
.statistics {
	display: flex;
	background-color: #ffffff;
	flex-wrap: wrap;
  align-items: center;
}
.stat__item {
	width: 50%;
	text-align:left;
	padding: 0 40px;
  border-left: 6px solid #6dcc0e;
	}
.stat__pro {
  flex-grow: 0;
  font-size: 80px;
  font-weight: 900;
  line-height: 0.98;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.stat__kurs {
  flex-grow: 0;
  font-size: 80px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.98;
  letter-spacing: normal;
  text-align: left;
  -webkit-text-stroke: 2px #5a5858;
   line-height: 1.03;
   color: #fff;
}
	.stat__count {
	width: 69px;
  height: 105px;
  flex-grow: 0;
  font-size: 90px;
  color: #000000;
}
.stat__title {
	width: 279px;
  height: 38px;
  flex-grow: 0;
  font-size: 32px;
  font-weight: bold;
  color: #000000;

	}
	.stat__text{
	width: 388px;
  height: 23px;
  flex-grow: 0;
  font-size: 20px;
  color: #909090;
}

.info {
  height: 164px;
  flex-grow: 0;
  margin: 18px 19px 36px 0;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  text-align: left;
  color: #000000;
}
li {
  list-style-type: none;
  display: flex;
}

.img__comp{
   width: 27px;
  height: 27px;
}
.img__fan{
width: 27px;
height: 27px;

}

.img__coffe{
  width: 27px;
  height: 27px;
}
.img__foto {
  width: 783px;
  height: 398px;
  flex-grow: 0;
  margin: 0 3px 0 0;
}



.d-flex {
  display: flex;
}

.home__for-who {
  background:#000 ;
  padding:80px 0;
}
.home__for-who .title {
  flex-grow: 0;
  font-size: 80px;
  font-weight: 900;
  line-height: 0.98;
  text-align: left;
  color: #ffffff;
  width: 33.333%;
  min-width: 33.333%;
  font-family: Roboto;
  text-transform: uppercase;
}
.home__for-who .title span {
  -webkit-text-stroke: 2px #ffffff;
  color: transparent;
}
.home__for-who .items { 
  display: flex;
  flex-wrap: wrap;
  width: 66.6666665%;
  min-width: 66.6666665%;
}
.home__for-who .items .item {
  color: #fff;
  width: 50%;
  min-width: 50%;
  box-sizing: border-box;
  padding: 10px;
  box-sizing: border-box;
}
.home__for-who .items .item .item__title {
font-family: Roboto;
  font-size: 22px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  text-transform: uppercase;
}
.home__for-who .items .item .item__description {
  width: 351px;
  height: 57px;
  flex-grow: 0;
  margin: 9px 13px 0 7px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.home__for-who .items .item .item__thumb {
  height: 194px;
  background: #f00;
  position: relative;
}
.home__for-who .items .item .item__thumb::before{
  content: '';
  width: 52px;
  height: 52px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  top: -7px;
  left: -7px;
  z-index: 1;
}
.home__for-who .items .item .item__thumb::after{
  content: '';
  width: 121px;
  height: 121px;
  background-color: #6dcc0e;
  display: block;
  position: absolute;
  bottom: -11px;
  right: -11px;
  z-index: 1;
}
.home__for-who .items .item .item__thumb .image-holder {
  position: absolute;
  background: #ccc;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/* section "home__vidhuk  */
.home__zajavka {
  flex-grow: 0;
  margin: 72px 0 67px 0;
  padding: 89px 87px 54px 784px;
  background-color: #6dcc0e;
}
.home__vidhuk button {
  height: 48px;
  flex-grow: 0;
  margin: 0 0 16px;
  padding: 10px 0;
  border-radius: 4px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}
.but__zajavka {
  width: 329px;
  height: 28px;
  flex-grow: 0;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  color: #000000;
}
.zajavka__foto {
width: 237px;
  height: 19px;
  flex-grow: 0;
  margin: 16px 52px 0 40px;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}
.home__vidhuk-title {
  flex-grow: 0;
  font-family: Roboto;
  font-size: 80px;
  font-weight: 900;
  line-height: 0.98;
  text-align: left;
  color: #000000;
}
.home__vidhuk-title span {
  flex-grow: 0;
  margin: 74px 0 0 1px;
  -webkit-text-stroke: 2px #000000;
  font-family: Roboto;
  font-size: 76px;
  font-weight: 900;
  line-height: 1.03;
  text-align: left;
  color: #fff;
}
